.App {
  text-align: center;
}

/* Header styling */
.App-header {
  background-color: #ccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* KeywordExtractor styling */

.KeywordExtractor {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.KeywordExtractor {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.KeywordExtractor-textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.KeywordExtractor-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.KeywordExtractor-button:hover {
  background-color: #0056b3;
}

.KeywordExtractor-keywords {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Dela upp i fyra kolumner */
  gap: 10px; /* Avstånd mellan nyckelorden */
  justify-content: center;
}

.KeywordExtractor-keyword {
  margin: 5px;
  padding: 5px 10px;
  width: 100%;
  color: black;
  border-radius: 4px;
  font-size: 14px;
}